<article class="grid grid-cols-1 lg:grid-cols-2 gap-x-10 px-8">
   <h2 class="col-span-1  lg:col-span-2 text-center text-3xl mt-[2rem] mb-[2rem]">
      Agregando valores para las gráficas
   </h2>

   <app-form class="self-center" 
      (sendValueGraph)="addingResultGraph($event)"
      (edit)="editResultGraph($event)"
      (cancelEdit)="cancelEditResultGraph()"
      [resultGraphToEdit]="resultGraphEdit()"
      [resultGraphs]="graphStore.results()"
   />

   <aside class="max-h-110 min-h-110 overflow-auto">

      <h2 class="text-center text-3xl py-4 border">Valores Agregados</h2>

      @for(graphResult of graphStore.results(); track graphResult.id) {

         <app-card-value 
            [result]="graphResult"
            (editing)="editingResultGraph($event)"
            (deleting)="deletingResultGraph($event)"
            
         />

      } @empty {

         <h2 class="text-center top-0 left-0">No hay valores agregados</h2>
         
      }
   </aside>

</article>

