<article class="flex justify-center flex-col">
   <h2 class="text-center text-3xl mt-[2rem]">Agregando valores para las gráficas</h2>
   <app-form  class="self-center" (sendValueGraph)="addingResultGraph($event)"/>
   <aside class="flex flex-col max-h-80 min-h-60 overflow-auto ">
      <h2 class="text-center text-3xl">Valores Agregados</h2>
      @for(graphResult of graphStore.results(); track graphResult) {
         <app-card-value  [result]="graphResult" />
      } @empty {
         <h2 class="text-center">No hay valores agregados</h2>
      }
   </aside>

</article>

