@let result = resultGraphToEdit();


<form class="flex flex-col gap-y-5 mt-[2rem] py-5" 
   [formGroup]="valueGraphFormGroup"
   (ngSubmit)="getValueGraph()"
   
>
   <mat-form-field>
      <mat-label for="name">Nombre: </mat-label>
      <input matInput id="name" type="text" formControlName="name" [value]="result.name"/>
      @if (
         valueGraphFormGroup.controls['name'].getError('required') &&
         (
            valueGraphFormGroup.controls['name'].dirty  ||
            valueGraphFormGroup.controls['name'].touched
         )
      ) {
         <mat-error>Debes indicar un nombre</mat-error>
      }
      @else if (
         valueGraphFormGroup.controls['name'].getError('maxlength') &&
         (
            valueGraphFormGroup.controls['name'].dirty  ||
            valueGraphFormGroup.controls['name'].touched
         )
      ) {
         <mat-error>El nombre solo puede contener hasta 30 letras</mat-error>
      }
      @else if (
         valueGraphFormGroup.controls['name'].getError('pattern') &&
         (
            valueGraphFormGroup.controls['name'].dirty  ||
            valueGraphFormGroup.controls['name'].touched
         )
      ) {
         <mat-error>El nombre solo puede contener letras y no debe tener más de un espacio.</mat-error>
      }
   </mat-form-field>

   <mat-form-field>
      <mat-label for="value">Valor: </mat-label>
      <input matInput id="value" type="number" formControlName="value" [value]="result.value"/>
      @if (
         valueGraphFormGroup.controls['value'].getError('required') &&
         (
            valueGraphFormGroup.controls['value'].dirty  ||
            valueGraphFormGroup.controls['value'].touched
         )
      ) {
         <mat-error>Debes indicar un valor</mat-error>
      }
      @else if (
         valueGraphFormGroup.controls['value'].getError('max') &&
         (
            valueGraphFormGroup.controls['value'].dirty  ||
            valueGraphFormGroup.controls['value'].touched
         )
      ) {
         <mat-error>El valor no debe ser mayor a: 9.999.999.999</mat-error>
      }
   </mat-form-field>

   <mat-form-field>
      <mat-label for="color">Color: </mat-label>
      <input matInput id="color" type="color" formControlName="domain" [value]="result.domain"/>
      @if (
         valueGraphFormGroup.controls['domain'].getError('required') &&
         (
            valueGraphFormGroup.controls['domain'].dirty  ||
            valueGraphFormGroup.controls['domain'].touched
         )
      ) {
         <mat-error>Debes elegir un color</mat-error>
      }
   </mat-form-field>

   <button mat-raised-button class="m-auto w-50" 
      color="primary" 
      type="submit" 
      [disabled]="valueGraphFormGroup.invalid"
      
   >
      @if(result.id === 0){
         <span>Agregar</span>
      }
      @else {
         <span>Editar</span>
      }
   </button>

   @if(result.id !== 0) {
      <button mat-raised-button class="m-auto w-50" 
      color="primary" 
      type="button" 
      (click)="cancelEditing()"
   >
      Cancelar
   </button>
   }
</form>