<vg-player>

   <vg-overlay-play></vg-overlay-play>
   <vg-buffering></vg-buffering>

   <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
   </vg-scrub-bar>

   <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>
      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display> 
      
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
      <vg-track-selector [vgFor]="$any(media)"></vg-track-selector>
      <vg-quality-selector 
         [bitrates]="allQualitys"
         (onBitrateChange)="changeQuality($event)"
      >
      </vg-quality-selector>

      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>
   </vg-controls>
   
   <video 
      [vgMedia]="$any(media)"  
      (timeupdate)="changeProgress($event)"
      (loadedmetadata)="setDataVideo()"
      #media id="singleVideo" 
      preload="auto" 
      crossorigin
   >

      <source [src]="path()" type="video/mp4">

      @for (subtitleLocal of allSubtitles; track $index) {
         
         <track 
            kind="subtitles" 
            [label]="subtitleLocal.label" 
            [src]="subtitleLocal.path" 
            [srclang]="subtitleLocal.srclang" 
            
         > 
         
      }
      
   </video>

</vg-player>