<section class="flex justify-center items-center">
   <article class="basis-9/10 h-[85%]">
      <vg-player>

         <vg-overlay-play></vg-overlay-play>
         <vg-buffering></vg-buffering>

         <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
         </vg-scrub-bar>

         <vg-controls [vgAutohide]="true" [vgMedia]="$any(media)">
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display> 
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            <vg-scrub-bar style="pointer-events: none;">
               
            </vg-scrub-bar>
            <vg-track-selector [vgFor]="$any(media)"></vg-track-selector>
            
            <vg-quality-selector
               [bitrates]="allQualitys"
               (onBitrateChange)="changeQuality($event)"
            >
            </vg-quality-selector>

            <vg-mute></vg-mute>
            <vg-volume></vg-volume>

            <vg-fullscreen></vg-fullscreen>
         </vg-controls>
         
         <video 
            class="relative"
            [vgMedia]="$any(media)"
            (timeupdate)="changeProgress($event)"
            (loadedmetadata)="onVideoSrcChanged()"
            #media id="singleVideo" 
            preload="auto" 
            crossorigin
            autoplay 
         >

            <source [src]="path()" type="video/mp4">

            @for (subtitleLocal of allSubtitles; track $index) {
               <track
                  #tracks
                  kind="subtitles" 
                  [label]="subtitleLocal.label" 
                  [src]="subtitleLocal.path" 
                  [srclang]="subtitleLocal.srclang"
                  [default]="subtitleLocal.path === subtitle().path"    
               > 
            }
         </video>
         <div class="inline-block absolute w-full bottom-[15%] left-[0%] text-2xl text-center text-white font-serif">
            <span class="bg-[rgba(0,0,0,0.3)]">{{currentTextSubtitle()}}</span>
         </div>
         
      </vg-player>
</article>
</section>