@if(graphsLegend().length > 0){
   <h2>Leyenda</h2>
   @for (graph of graphsLegend(); track graph.id) {
      <app-legend  
         [graph]="graph" 
         [graphFiltered]="graphs()" 
         (select)="onSelect($event)"
         (remove)="onRemove($event)"
      />
   }

   <ngx-charts-bar-vertical
     [view]="view"
     [scheme]="colorScheme()"
     [results]="graphs()"
     [gradient]="false"
     [xAxis]="true"
     [yAxis]="true"
     [legend]="false"
     [showXAxisLabel]="true"
     [showYAxisLabel]="true"
     [xAxisLabel]="'Valores'"
     [yAxisLabel]="'Escalas'"
     (select)="onSelect($event)">
   </ngx-charts-bar-vertical>

   

}

@else {
   <h2 class="text-center">No hay resultados</h2>
}