@if(graphsLegend().length > 0){
   <h2>Leyenda</h2>
   @for (graph of graphsLegend(); track graph.id) {
      <app-legend  
         [graph]="graph" 
         [graphFiltered]="graphs()" 
         (select)="onSelect($event)"
         (remove)="onRemove($event)"
      />
   }

   <ngx-charts-line-chart
      
      [view]="view"
      [scheme]="colorScheme()"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [xAxisLabel]="'Valores'"
      [yAxisLabel]="'Escalas'"
      [timeline]="false"
      [results]="graphsLines()"
      (select)="onSelect($event)"
      
  >
  </ngx-charts-line-chart>

}

@else {
   <h2 class="text-center">No hay resultados</h2>
}