
<article class="flex flex-col gap-y-5 m-5">
   <button mat-flat-button class="self-center" routerLink="/form-graph">Ingresar Valores</button>
   <h2 class="self-center text-4xl">Gráficas</h2>
   <mat-tab-group>
      <mat-tab label="Barras">
         <app-bar-graph  
            [graphs]="graphStore.resultFilterDifferent()" 
            [graphsLegend]="graphStore.results()"
            (filter)="filterResultGraphs($event)"
            (removeFilter)="removeFilterResultGraphs($event)"
         />
      </mat-tab>
      <mat-tab label="Lineas">
         <app-linear-graph 
            [graphs]="graphStore.resultFilterDifferent()" 
            [graphsLegend]="graphStore.results()"
            (filter)="filterResultGraphs($event)"
            (removeFilter)="removeFilterResultGraphs($event)"
         />
      </mat-tab>
      <mat-tab label="Circular">
         <app-circle-graph 
            [graphs]="graphStore.resultFilterDifferent()" 
            [graphsLegend]="graphStore.results()"
            (filter)="filterResultGraphs($event)"
            (removeFilter)="removeFilterResultGraphs($event)"
         />
      </mat-tab>
    </mat-tab-group>
</article>

